@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

body {
  font-size: 1rem;
  line-height: 1.5;
  /* 
  Paleta de colores
  Claros (eccdaa, dcb993) 
  Accion (de9475, d8796b, a23a34, b1483e, 691d1b, 291512, 200f0c)
  - Accion (d8796b, a23a34)
  Fondo (423321, 252120, 1c1814)   
  Oscuros (655445, 24201e, 070705)
  Oscuro Recuadro (655445)
  */
}

::-webkit-scrollbar {
  background: #000;
  width: 0.7rem;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 1rem;
  height: 1rem;
  min-height: 1rem;
  width: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.tag {
  color: #d8796b;
  background-color: #5e231e;
  /* rounded pill */
  border-radius: 9999px;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  font-weight: 500;
  margin-right: 0.2rem;
  margin-bottom: 0.4rem;
  display: inline-block;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.c-arrow {
  font-size: small;
  transform: rotate(45deg);
}

.color-primary-light {
  color: #35b082;
}

.color-primary-light-50 {
  color: #4cb990;
}

.color-primary {
  color: #79caac;
}

.color-action-light {
  color: #e10531;
}

.color-action-secondary {
  color: #848158;
}

.hover-action-secondary:hover {
  color: #95803c;
}

.color-dark {
  color: #070705;
}

.color-gray {
  color: #8fd3ba;
}

/* scale childs */

.expand {
  transition: all 0.1s ease-in-out;
}

.expand:hover {
  transform: scale(1.2);
}

.expand-sm {
  transition: all 0.2s ease-in-out;
}

.expand-sm:hover {
  transform: scale(1.02);
}

.hover-action-light:hover {
  color: #e7365a;
}

.bg-dark {
  background-color: #010101;
  /* border-left: 4px solid #d8796baa; */
}

.hover-bg-dark:hover {
  background-color: #030603;
  /* background: linear-gradient(45deg, #070705 0%, #24201f 100%); */
  /* background: radial-gradient(circle at center, #24201f 0%, #070705 100%); */

  /* add a border top more ligth */
  /* border-left: 4px solid #a23a34; */

  /* add a small shadow only bottom */
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.bg-primary {
  background-color: #111;

  /* bg gradient from 1c1814 to 252120 */
  /* background: radial-gradient(circle, #1c1814 0%, #423321 100%); */
  /* background: radial-gradient(circle, #423321 0%, #1c1814 100%); */
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

#contenedor {
  position: relative;
  width: 100%; /* Ajusta según el tamaño deseado del área de movimiento */
  height: 128px; /* Ajusta según la altura de tu imagen */
  overflow: hidden;
  /* border: 1px solid #000; /* Para visualización de borde */
}

.gato {
  width: 128px; /* Suponiendo L=800, entonces L/6 sería 133 */
  height: 128px; /* Ajusta según la altura de tu imagen */
  background-image: url("../img/SideWalk_Black.png"); /* Asegúrate de poner la ruta correcta de la imagen */
  background-repeat: no-repeat;
  position: absolute;

  filter: drop-shadow(0 0 0.75rem #e10531);
}

.animarGato {
  animation: caminarGato 0.8s steps(6) infinite;
}

@keyframes caminarGato {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -768px;
  } /* Mueve el fondo hasta el final de la imagen */
}

.c-drop-shadow {
  filter: drop-shadow(0 0 0.3rem #e10531);
}

.c-drop-shadow-blue {
  filter: drop-shadow(0 0 0.3rem #0088ff);
}

.c-drop-shadow-rose {
  filter: drop-shadow(0 0 0.3rem #ff5794);
}

.c-drop-shadow-black {
  filter: drop-shadow(2px 2px 4px #000a);
}
